.container {
    background-color: #1ABC9C;
    height: 100%;
    width: 100%;
    position: fixed;
}

.center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.number {
    font-family: arial;
    font-weight: bold;
    text-shadow:0 0 5px #1B6254; 
    font-size: 8em;
    color: white;
    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@-webkit-keyframes bounce {
        0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
        40% {-webkit-transform: translateY(-10px) }    
        60% {-webkit-transform: translateY(-5px);}

} 
@keyframes bounce {
        0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
        40% {transform: translateY(-10px);}
        60% {transform: translateY(-5px);}

} 


.bounce {
        -webkit-animation-duration: 0.5s;
         animation-duration: 0.5s;
         -webkit-animation-name: bounce;
         animation-name: bounce;
}
